*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6fbfc;
}

$primaryColor: #1071cf;
$textColor: #0e1e25;

.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;

  font-family: "proxima-nova", sans-serif;
}

/************ TOP BAR JS*******************/

.topbar__alert {
  height: 50px;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 300;
  font-size: 13px;

  span {
    font-weight: bold;
    cursor: pointer;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

/************ NAV BAR *******************/
.navbar_container {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  background-color: white;
  font-family: "Open Sans";

  img {
    max-height: 40px;
    max-width: 100%;
    overflow: hidden;
  }

  .navbar {
    padding: 0 10px;

    ul {
      display: flex;
      list-style: none;

      .close {
        display: none;
        text-align: right;
        padding: 10px;

        span {
          font-size: 40px;
          display: inline-block;
          border: 1px solid #999;
          padding: 0 10px;
          cursor: pointer;
          white-space: nowrap;
        }
      }

      li {
        a {
          text-decoration: none;
          text-transform: capitalize;
          font-size: 14px;
          color: $textColor;
          line-height: 60px;
          cursor: pointer;
          padding: 0 10px;
          font-weight: 700;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
