@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap");
@import "./queries/bigphones.scss";
@import "./queries/smallphones.scss";
@import "./queries/tablets.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6fbfc;
  font-family: "Poppins", sans-serif;
}

$primaryColor: #1071cf;
$textColor: #0e1e25;

.container {
  max-width: 1200px;
  margin: auto;
}

/************ TOP BAR JS*******************/

.topbar__alert {
  height: 50px;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 300;
  font-size: 13px;

  span {
    font-weight: bold;
    cursor: pointer;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

/************ NAV BAR *******************/
.navbar_container {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  background-color: white;

  img {
    max-height: 40px;
    max-width: 100%;
    overflow: hidden;
  }

  .navbar {
    padding: 0 10px;

    ul {
      display: flex;
      list-style: none;

      .close {
        display: none;
        text-align: right;
        padding: 10px;

        span {
          font-size: 40px;
          display: inline-block;
          border: 1px solid #999;
          padding: 0 10px;
          cursor: pointer;
          white-space: nowrap;
        }
      }

      li {
        a {
          text-decoration: none;
          text-transform: capitalize;
          font-size: 14px;
          color: $textColor;
          line-height: 60px;
          cursor: pointer;
          padding: 0 10px;
          font-weight: 700;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

// .........Assignment Page..............
.assignment {
  display: grid;
  grid-template-columns: 35% 65%;

  .assignment_left {
    background-color: $primaryColor;
    color: white;

    .assignment_left__content {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        padding: 1.5rem 0;
      }

      p {
        padding: 1rem 0;
      }

      img {
        width: 55%;
        height: 55%;
      }

      .MuiIconButton-root {
        color: white !important;
      }
    }
  }
  .assignment_right {
    padding: 4rem 5rem;
  }
}

.waiting_time {
  display: grid;
  grid-template-columns: 50% 50%;

  .waiting_time__desc {
    h1 {
      margin-bottom: 1rem;
    }

    span {
      margin: 2rem 0;
      font-weight: 600;
      font-style: italic;
    }

    p {
      margin: 50px 0;
      font-weight: 500;
    }
  }

  .waiting_time__img {
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

// .........Get Started Page..............
.getstarted {
  .getstarted_progress {
    margin-bottom: 2rem;
  }
  .getstarted_forms {
    height: 35rem;
    h3 {
      padding: 1rem 0;
    }
  }
  .getstarted_buttons {
    display: flex;
    justify-content: space-between;
    button {
      padding: 20px;
      color: white;
      background-color: $primaryColor;
      border: none;
      border-radius: 4px;
      width: 10rem;
      font-size: 16px;
      text-transform: uppercase;
      margin-right: 1rem;
    }
  }
}

.step_one {
  .step_one__header {
    padding-bottom: 1rem;
  }
  .step_one__inputs {
    form {
      display: flex;
      flex-direction: column;

      .step_one_inputs_div {
        width: 70%;
        padding: 0.25rem 0;
      }
    }
  }
}
